<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">To Do</a>
            <a class="nav-item nav-link" href="/past">Past</a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </nav>